<div class="modal fade modal-custom" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-text">
        <p>
          Are you sure you want to delete the order from <span id="customerName"></span>
          for <span id="productCount"></span> of our <span id="productName"></span> product?
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger delete-confirm-button" data-method="delete">Delete</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

 