<div class="modal fade modal-custom" id="custdeleteModal" tabindex="-1" aria-labelledby="custdeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="custdeleteModalLabel">Delete Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <p id="modal-body-text">
          Are you sure you want to delete the order from <span id="order-customer-name"></span>Customer name
          for <span id="order-product-count"></span> product count of our <span id="order-product-name"></span> Product name product?
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger delete-confirm-button" href="#" data-method="delete">Delete</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>



 