<div>
<h1 class="mb-3 text-center">New customer</h1>

<%= render "form", customer: @customer %>


<div class="mt-3 text-center">
  <%= link_to "Back to customers", customers_path, class: "btn btn-primary" %>
</div>
</div>
