<h1 class="mb-3 text-center">Edit Order</h1>

<%= render "form", order: @order %>

<div class="d-flex justify-content-center mt-3">
<%= link_to 'Back to Orders', orders_path, class: "btn btn-primary" %>
</div>
